//colors
$COLOR_PRIMARY: #176bfb;
$COLOR_GREEN: #3CA455;
$COLOR_ORANGE: #E67337;
$COLOR_RED: #C84040;
$COLOR_TEXT: #110F24;
$COLOR_GRAY-DARK: #CCCED0;
$COLOR_GRAY_MEDIUM: #ECECEE;
$COLOR_GRAY-LIGHT: #F6F6F9;

$COLOR_WHITE: #ffffff;
$TEXT_PRIMARY-GRAY: #333333;
$TEXT_SECONDARY-GRAY: #666666;
$COLOR_LIGHT-BLUE: #ecf2fe;
$COLOR_BLUE: #3371f2;


//fonts
$PRIMARY_FONT: 'Raleway', sans-serif;
$SECONDARY_FONT: 'Roboto', sans-serif;