html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 800;
}

.h2 {
  font-size: 3.2rem;
  line-height: 1.25;
  font-weight: 700;
}

.h3 {
  font-size: 2.7rem;
  line-height: 1.185;
  font-weight: 700;
}

.h4 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
}

.h5 {
  font-size: 1.4rem;
  line-height: 1.142857143;
  font-weight: 600;
}

.h6 {
  font-size: 1.1rem;
  line-height: 1.45;
  font-weight: 600;
}

.p {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
}

.regular-large {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}

.regular-medium {
  font-size: 1.4rem;
  line-height: 1.142857143;
  font-weight: 400;
}

.regular-small {
  font-size: 1.1rem;
  line-height: 1.45;
  font-weight: 400;
}

.container {
  width: 1232px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.column-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.column-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.column-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.column-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.column-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.column-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.column-8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.column-9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.column-10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.column-11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.column-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: #176bfb;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  padding: 1.4rem;
  margin: 0.5rem;
}

.btn--icon-left {
  gap: 1rem;
  font-size: 1.6rem;
  line-height: 2.4;
  padding: 1.6rem;
}

.btn--icon-right {
  gap: 0.5rem;
  font-size: 1.6rem;
  line-height: 2.4;
  padding: 1.6rem;
}

.btn--icon-only {
  font-size: 1.6rem;
  line-height: 2.4;
  padding: 1.6rem;
  width: 5.4rem;
  vertical-align: middle;
  text-align: center;
}

.btn--primary {
  background: #176bfb;
  color: white;
}

.btn--secondary {
  background: #ECECEE;
  color: #110F24;
}

.btn--disabled {
  background: #ECECEE;
  color: #CCCED0;
}

.btn--large {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.6rem;
}

.btn--medium {
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 1.6rem;
}

.btn--small {
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 1.1rem;
}

.btn--primary {
  background: #176bfb;
  color: white;
}

.btn--success {
  background: #3CA455;
  color: white;
}

.btn--warning {
  background: #E67337;
  color: white;
}

.btn--error {
  background: #C84040;
  color: white;
}

* {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

header,
section {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2.5rem;
  gap: 70rem;
  background: #ffffff;
}

header #header #logo {
  width: 17.6rem;
  height: 7.3rem;
  margin-top: 1rem;
}

header #header #navbar--container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header #navbar--container .nav .navbar--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
}

header #header #navbar--container .nav .navbar--list .navbar--links a {
  text-decoration: none;
  color: #333333;
  margin: 1.5rem;
}

header #header #navbar--container .nav .navbar--list .navbar--links:nth-child(1) {
  font-weight: 700;
}

header #header #navbar--container .nav .navbar--list .navbar--links:nth-child(1) a {
  color: #3371f2;
}

header #header #navbar--container .nav .navbar--btn-container {
  background: #3371f2;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  border-radius: 0.8rem;
  text-decoration: none;
  padding: 1rem;
}

header #header #navbar--container .nav .navbar--btn-container:hover {
  background: #ffffff;
  color: #3371f2;
  border: 1px solid #3371f2;
}

#home .home-container {
  padding: 16rem 10.4rem 9.2rem 10.4rem;
}

#home .home-container .row .column-6 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-container .row .column-6--text {
  margin-left: -3rem;
}

#home .home-container .row .column-6--text .home-title-container {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 7.5rem;
  line-height: 8.6rem;
  color: #333333;
  margin-top: 8.8rem;
  margin-left: -10rem;
}

#home .home-container .row .column-6--text .home-description-container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #666666;
  margin-top: 4.4rem;
  margin-left: -40rem;
}

#home .home-container .row .column-6--text .home-btn-container {
  background: #3371f2;
  padding: 1.6rem 4.8rem;
  border-radius: 0.8rem;
  margin-left: -68rem;
  margin-top: 7.2rem;
}

#home .home-container .row .column-6--text .home-btn-container .home-btn {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
}

#home .home-container .row .column-6--text .home-btn-container:hover {
  background: #ffffff;
  border: 1px solid #3371f2;
}

#home .home-container .row .column-6--text .home-btn-container:hover .home-btn {
  color: #3371f2;
}

#home .home-container .row .column-6--image-container {
  margin-right: -15rem;
  margin-top: -15rem;
}

#home .home-container .row .column-6--image-container .column-6--image {
  width: 75rem;
  height: 75rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#services {
  padding: 10rem 10.4rem 13.6rem 10.4rem;
  background: #ecf2fe;
  width: 100vw;
}

#services .column-12--services-container {
  margin: 10rem 10.4rem 13.6rem 10.4rem;
  width: 123.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .column-12--services-container .row--services-title-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  color: #333333;
}

#services .column-12--services-container .row--services-list-container {
  margin-top: 7.2rem;
  gap: 1.6rem;
}

#services .column-12--services-container .row--services-list-container .services-bigger-box-container,
#services .column-12--services-container .row--services-list-container .services-box-container {
  padding-bottom: 1rem;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.1rem solid #a0bcf8;
  padding: 4.8rem 6rem 4.8rem 2.4rem;
  width: 29.6rem;
  gap: 3.2rem;
  position: relative;
}

#services .column-12--services-container .row--services-list-container .services-box-container:hover {
  background: #3371f2;
  border: none;
}

#services .column-12--services-container .row--services-list-container .services-box-container:hover .services-description-container,
#services .column-12--services-container .row--services-list-container .services-box-container:hover .services-text-container {
  color: #ffffff;
}

#services .column-12--services-container .row--services-list-container .services-bigger-box-container {
  background: #3371f2;
  border: none;
}

#services .column-12--services-container .row--services-list-container .services-bigger-box-container .services-description-container,
#services .column-12--services-container .row--services-list-container .services-bigger-box-container .services-text-container {
  color: #ffffff;
}

#services .column-12--services-container .row--services-list-container .services-box-container {
  margin-bottom: 7.2rem;
}

.services-subtitle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.6rem;
}

.services-subtitle-container .services-icon {
  font-size: 4rem;
  border-radius: 0.8rem;
  color: #90acf7;
}

.services-subtitle-container .services-text-container {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #333333;
  margin-top: 0.5rem;
}

.services-description-container {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #666666;
}

.right-arrow-icon {
  background: #ffffff;
  color: #3371f2;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 2.4rem;
  padding: 1.6rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

#pricing {
  margin-top: 30rem;
}

#pricing .column-12--pricing-container {
  gap: 7.2rem;
  width: 33.6rem;
  height: 7.2rem;
  margin-bottom: 80rem;
}

#pricing .column-12--pricing-container .column-12--pricing-heading-container {
  gap: 2.4rem;
}

#pricing .column-12--pricing-container .column-12--pricing-heading-container .pricing-title-container {
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  color: #333333;
  text-align: center;
}

#pricing .column-12--pricing-container .column-12--pricing-heading-container .pricing-description-container {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #666666;
  text-align: center;
  padding-right: 50rem;
  padding-left: 47rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container {
  gap: 1.6rem;
  text-align: center;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 0.8rem;
  gap: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75rem;
  height: 58.5rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-value-container .pricing-icon-container {
  border-radius: 0.8rem;
  font-size: 17.2rem;
  margin-bottom: 1rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-value-container .pricing-icon-container i {
  color: #90acf7;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-value-container .pricing-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #666666;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-value-container .pricing-value {
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  color: #333333;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-description-container .pricing-text-container {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #666666;
  padding-bottom: 3.2rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-description-container .pricing-text-container .pricing-text {
  padding-right: 9rem;
  padding-left: 9rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-description-container .pricing-btn-container {
  border-radius: 0.8rem;
  background: #ecf2fe;
  padding: 1.6rem 2.4rem;
  margin: 0 auto;
  text-align: center;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-box-container .pricing-description-container .pricing-btn-container a {
  text-decoration: none;
  color: #3371f2;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 2.1rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3371f2;
  border-radius: 0.8rem;
  gap: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60rem;
  height: 58.5rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-value-container .pricing-icon-container {
  border-radius: 0.8rem;
  font-size: 17.2rem;
  margin-bottom: 1rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-value-container .pricing-icon-container i {
  color: #90acf7;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-value-container .pricing-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #ffffff;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-value-container .pricing-value {
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  color: #ffffff;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-description-container .pricing-text-container {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #ffffff;
  padding-bottom: 3.2rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-description-container .pricing-text-container .pricing-text {
  padding-right: 4rem;
  padding-left: 4rem;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-description-container .pricing-btn-container {
  border-radius: 0.8rem;
  background: #ecf2fe;
  padding: 1.6rem 2.4rem;
  margin: 0 auto;
  text-align: center;
}

#pricing .column-12--pricing-container .row--pricing-options-container .pricing-blue-box-container .pricing-description-container .pricing-btn-container a {
  text-decoration: none;
  color: #3371f2;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 2.1rem;
}

#faq {
  height: 72.8rem;
  margin-top: 20rem;
}

#faq .row--faq-container {
  gap: 1.6rem;
}

#faq .row--faq-container .column-6--faq-title-container {
  padding-left: 15rem;
}

#faq .row--faq-container .column-6--faq-title-container .faq-title {
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  color: #333333;
}

#faq .row--faq-container .column-6--faq-title-container .faq-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #666666;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  padding-right: 15rem;
}

#faq .row--faq-container .column-6--faq-title-container .faq-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: #3371f2;
  text-decoration: none;
  position: relative;
}

#faq .row--faq-container .column-6--faq-title-container .faq-link:hover {
  font-weight: 700;
}

#faq .row--faq-container .column-6--faq-list-container {
  gap: 1.6rem;
}

#faq .row--faq-container .column-6--faq-list-container .faq-question-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.8rem;
  padding: 1.6rem;
  width: 50.4rem;
  background: #ecf2fe;
}

#faq .row--faq-container .column-6--faq-list-container .faq-question-box .faq-question {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #666666;
  padding-right: 0;
}

#faq .row--faq-container .column-6--faq-list-container .faq-question-box .faq-icon {
  font-size: 2rem;
  color: #666666;
}

#faq .row--faq-container .column-6--faq-list-container .faq-question-box .faq-icon:hover {
  color: #3371f2;
  font-size: 2.5rem;
}

#footer {
  background: #ecf2fe;
  width: 100vw;
}

#footer .column-12--footer-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.4rem;
  gap: 5rem;
}

#footer .column-12--footer-container .footer-logo-container {
  width: 13.2rem;
  height: 3rem;
  margin-right: 6rem;
  margin-bottom: 2.5rem;
}

#footer .column-12--footer-container .footer-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.8rem;
}

#footer .column-12--footer-container .footer-link-container .footer-link a {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #333333;
  text-decoration: none;
}

#footer .column-12--footer-container .footer-link-container .footer-link a:hover {
  color: #3371f2;
  font-weight: 700;
}

#footer .column-12--footer-container .footer-socmed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.6rem;
}

#footer .column-12--footer-container .footer-socmed-container .footer-link-socmed a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: #90acf7;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-decoration: none;
  text-align: center;
  padding-top: 0.8rem;
}

#footer .column-12--footer-container .footer-link-socmed a:hover {
  background: #ffffff;
  color: #90acf7;
}

#footer .column-12--footer-container .copyright-container {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #333333;
  padding-bottom: 6.4rem;
}

hr {
  display: block;
  background: #a0bcf8;
  width: 123.3rem;
  height: 1px;
  border: 1px;
}
/*# sourceMappingURL=main.css.map */